/* 
    Created on : 15 sept. 2014, 10:07:02
    Author     : cdi108
*/

/* Header */

.clear
{
    clear: both;
}

#header 
{
    /*position: relative;/*relative par rapport au positionnement normal - permet dans un flux de lecture normal haut vers bas de faire se chavaucher des elements, de les deplacer*/
    /*z-index: 99999;/*ordre affichage - plus le chiffre est grand et plus l element sera affiché au dessus des autres*/
    margin-top: 10px;
    width: 960px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
   /* border: solid 4px violet;*/
}

a, a:link, a:visited, a :hover, a:active
{
    cursor: pointer;/*forme de main*/
    text-decoration: underline;/*pas de decoration - soulignement ou autre*/
    color: black;
}



#header-options
{
    //float: left;
    color: black;/*couleur texte*/
    font-weight: bold;/*aspect de la police de caracteres gras*/
    height: auto;/*hauteur*/
    margin-left: 600px;/*marge exterieure pour haut et bas à 0 et gauche et droite auto*/
    padding: auto;/*marge interieure pour haut et bas à 5 et gauche et droite 0*/
    /*position: relative;/*relative par rapport au positionnement normal - permet dans un flux de lecture normal haut vers bas de faire se chavaucher des elements, de les deplacer*/
    width: 350px;/*largeur*/
    /*z-index: 99;/*ordre affichage - plus le chiffre est grand et plus l element sera affiché au dessus des autres*/
   /* border: solid 4px pink;*/
}

#not-login
{
    /*float: left;/*positionnement flottant à gauche*/
    width: auto;
    height: auto;
    //margin-left: 150px;
    //position: relative;
   /*border: solid 3px red;*/
}

#not-login-signup
{
    display: block;	
    width: auto;
    height: auto;
    float: left;
    //position: relative;
    left: 150px;
    background-color: silver;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 30px 5px 30px;/*haut droite bas gauche*/
    border: solid 1px grey;
    border-radius: 4px 4px 4px 4px;/*bordure arrondie de l angle en haut à gauche, en haut a droite, en bas droite, en bas gauche*/
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

#not-login-signup a
{
    text-decoration: none;
}

#not-login-login
{
    display: block;	
    width: auto;
    height: auto;
    float: left;
    //position: relative;
    //left: 550px;
    background-color: silver;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 30px 5px 30px;/*haut droite bas gauche*/
    border: solid 1px grey;
    border-radius: 4px 4px 4px 4px;/*bordure arrondie de l angle en haut à gauche, en haut a droite, en bas droite, en bas gauche*/
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

#not-login-login a
{
    text-decoration: none;
}

#login
{
    /*float: left;/*positionnement flottant à gauche*/
    width: auto;
    height: auto;
    position: relative;
    /*border: solid 3px orange;*/
}

#login-signup
{
    display: block;	
    width: auto;
    height: auto;
    float: left;
    //position: relative;
    //left: 550px;
    background-color: silver;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 170px;
    margin-right: 5px;
    padding: 5px 30px 5px 30px;/*haut droite bas gauche*/
    border: solid 1px grey;
    border-radius: 4px 4px 4px 4px;/*bordure arrondie de l angle en haut à gauche, en haut a droite, en bas droite, en bas gauche*/
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

#login-signup a
{
    text-decoration: none;
}

#login-login
{
    display: block;	
    width: auto;
    height: auto;
    float: left;
    //position: relative;
    //left: 550px;
    background-color: silver;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 30px 5px 30px;/*haut droite bas gauche*/
    border: solid 1px grey;
    border-radius: 4px 4px 4px 4px;/*bordure arrondie de l angle en haut à gauche, en haut a droite, en bas droite, en bas gauche*/
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

#login-login a
{
    text-decoration: none;
}

#header-options li 
{
    display: inline;/*affichage, element devient de type inline*/
    float: left;/*positionnement flottant à gauche*/
    /*position: relative;/*relative par rapport au positionnement normal - permet dans un flux de lecture normal haut vers bas de faire se chavaucher des elements, de les deplacer*/
    border: solid 1px grey;
}

#header-options a, a:link, a:visited, a :hover, a:active
{
    color: #333;/*gris fonce presque noir*/
}

/*gros logo*/
#gros-logo-div
{
    border: solid 3px purple;
    height: auto;
    width: auto;	
    position: relative;
    z-index : 1000;
    margin-top: -40px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: auto;
    padding: auto;/*marge interieure pour haut et bas à 5 et gauche et droite 0*/
    float : left;
}

#logocarpediem
{
    width: 220px;
    height: 150px;
    margin: auto;
    /*border: solid 4px orange;*/
}

/*#panier
{
    float: left;
    width: 220px;
    height: 70px;
    margin-top: 25px;
    margin-left: 450px;
    border: solid 4px red;
}*/



#datejour
{
    margin-left: 500px;
    //padding-right: 20px;
    margin-right: 20px;
    width: 400px;
    height : 20px;
    text-align: right;/*alignement texte droite*/
    /*border: solid 1px purple;*/
}