/* 
    Created on : 16 sept. 2014, 07:57:27
    Author     : admin
*/

/* Menu vertical*/

.clear
{
    clear: both;
}

a, a:link, a:visited, a :hover, a:active
{
    cursor: pointer;/*forme de main*/
    text-decoration: underline;/*pas de decoration - soulignement ou autre*/
    color: black;
}

/*#inside-col-follow
{
    width: 160px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    border: solid 1px grey;
    background-color: #e7e4d6;
    float: left;
}*/

#block-headdiv
{
    background-color: #FFFFFF;
    //margin-left: 5px;
    margin-bottom: 10px;
    /*border: solid 1px orange;*/
}

#block-headh2
{
    margin-top: 5px;
    /*line-height: 20px;*/
    color: #FFFFFF;
    font: bold 22px Arial,Helvetica;
    text-align: center;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #FFFFFF;
    /*border: solid 1px orange;*/
}

#block-themesdiv
{
    width: 205px;
    background-color: #FFFFFF;
    //margin: 5px;
    //margin-left: 20px;
    //padding-top: 10px;
    padding-bottom: 10px;
    //padding-right: 0;
    //padding-left: 0;
    text-align: left;
    /*border: solid 1px blue;*/
}

#block-menudiv ul
{
    margin: 0 0 10px 15px;/*haut droite bas gauche*/
    padding: auto;
    height: auto !important;
    margin-bottom: 0 !important;
    list-style: none inside none;/*pas de puce, outside avec retrait pas de fond image*/
    /*border: solid 1px orange;*/
}

#block-menudiv li
{
    margin: 5px 0 5px 0;
    padding: 0;
    height: auto !important;
    margin-bottom: 0 !important;
    list-style: none outside none;
    border-style: solid;
    border-width: 0 0 1px;
    border-color: #66635C;
    /*border: solid 1px green;*/
}

#block-menudiv a
{
    display: block;
    margin: auto;
    padding: 5px;/*haut droite bas gauche*/
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.03em;
    text-shadow: 0 2px 5px #000000;
    color: grey;
}

#block-menudiv a:link, a :hover, a:active 
{
    color:purple;
}


.art-layout-wrapper
{
    position: relative;
    margin: 20px auto 0 auto;
    z-index: auto !important;
}

#modulerecherchethemes
{
    width: 205px;
    min-height: 300px;
    margin-left: auto;
    margin-bottom: 10px;
    margin-right: auto;
    //padding-left: 5px;
    //border: solid 1px grey;
    background-color: #FFFFFF;
    float: left;
    vertical-align: top;
    border: solid 1px purple;
}


#monpanierdiv
{
    margin-top: 15px;
    margin-bottom: 25px;
    /*line-height: 20px;*/
    color: grey;
    font: bold 16px Arial,Helvetica;
    text-align: center;
    letter-spacing: -0.03em;
    text-shadow: 0 1px 0 #FFFFFF;
    border: solid 1px orange;
}

